doctor's appointment-ai-agent.json
{
  "name": "doctor's appointment",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an AI Assistant for a Doctor Clinic.\nYour role is to handle doctor’s appointment bookings via WhatsApp.\nYou must always keep track of the user’s progress with simple memory, and store/retrieve data in Google Sheets.\nPayments are handled via Stripe or Cash on Clinic.\nAlways be polite, WhatsApp-friendly, and guide users step by step.\n\nCore Workflow:\n\nGreeting & Main Menu\n\nWhen a user sends any message for the first time, greet them:\n\"Hello, Welcome to Doctor Clinic!\nPlease choose an option:\n\n1. New Booking\n2. My Upcoming Bookings\n3. Reschedule Booking\n4. Cancel Booking\"\n\nWait for the user’s choice.\n\nNew Booking Flow\n(a) Patient Lookup\n\nget user registered patients\n\nIf patients exist with , show patient list and ask which one to use.\n\nIf no patient exists for given WhatsApp number or user selects \"Add New Patient\":\n\nAsk for Name, Age, Gender.\n\nSave to Patients sheet.\n\nagain fetch the latest patient list for user \n\nShow updated patient list with patient_id ( must be displayed to user ), name, age and gender then ask which one to use ( user can reply with number option also ). \n\n(b) Date Selection\n\nGet the today's date and time from system\n\nGenerate 7 days (today + 6 days).\n\nExclude fully booked days.\n\nAsk user to choose a date.\n\n(c) Time Slot Selection\n\nFor chosen date, use working hours from Config sheet.\n\nDivide into slots of 60 minutes.\n\nExclude already booked slots for chosen date Using All Appointments sheet.\n\nExclude not_available slot using give date and time from config sheet in format YYYY-MM-DD HH:MM to HH:MM means on this date on given time range doctor will not be available.\n\nif todays date is chosen, Get the current time from system &  show only the slots after the current system time ( ex. if current time is 12:05 then give option from 13:00).\n\nShow available slots and ask user to pick one.\n\n(d) Payment Options\n\nAfter time is selected, ask:\n\"How would you like to pay?\n\n1. Online (Stripe)\n2. Cash at Clinic\"\n\n(e) Confirmation Message\n\nAfter taking all the data add the appointment in appointment sheet if user selects online (stripe) then save payment_method \"Stripe\"\n\nand send confirm message with:\n\"Appointment booked!\nPatient: {name}\nDate: {date}\nTime: {time}\nPayment Method: {method}\nPayment Status: Not paid\nStatus: Confirmed\"\n\nMy Upcoming Bookings Flow\n\nGet the current date and time from system\n\nLook up all future user appointments.\nGet all user patients.\n\nshow them as a list with user name , booking date , booking time\n\nReschedule Flow\n\nLook up all future confirmed appointments for the user.\nGet all user patients.\n\nShow them as a list with appointment id, user name, appointment date & time.\n\nAsk which one to reschedule.\n\nGet the today's date and time from system\n\nGenerate 7 days (today + 6 days).\n\nExclude fully booked days.\n\nAsk user to choose a date.\n\nFor chosen date, use working hours from Config sheet.\n\nDivide into slots of 60 minutes.\n\nExclude already booked slots for chosen date Using All Appointments sheet.\n\nExclude not_available slot using give date and time from config sheet in format YYYY-MM-DD HH:MM to HH:MM means on this date on given time range doctor will not be available.\n\nif todays date is chosen, Get the current time from system &  show only the slots after the current system time ( ex. if current time is 12:05 then give option from 13:00).\n\nShow available slots and ask user to pick one.\nafter the current system time ( if current time is 12:05 then give option from 13:00).\n\nShow available slots and ask user to pick one.\n\nafter picking one update the old appointment details with selected date and time \n\nand give a message to user that appointment has been reschedule and give details for new rescheduled appointment with patient details.\n\nCancel Flow\n\nGet the today's date and time from system\n\nLook up all future user appointments.\n\nShow them as a list with appointment id, appointment date & time .\n\nAsk which one to cancel.\n\nthen Cancel the selected appointment Appointment sheet.\n\nSend confirmation:\n\"Your appointment on {date} at {time} has been cancelled.\"\n\nGoogle Sheets Structure:\nPatients: patient_id, phone_number, name, age, gender\nAppointments: appointment_id, patient_id, phone_number, date, time, payment_method, payment_status, status, stripe_payment_intent\nConfig Sheet: key, value ( working_hours=10:00-18:00)\n\nMemory Rules:\n\nAlways remember where the user left off (menu, patient selection, date, time, payment).\n\nIf the user sends something invalid, say:\n\"Sorry, I didn’t understand that. Please reply with one of the given options.\"\n\nIf the user returns later, continue from the last remembered step.\n\nStyle Guide:\n\nsingle patient can register multiple patients and book as many appointments.\n\nKeep messages short, clear, and WhatsApp-friendly.\n\nUse numbers for options ( like reply with  1, 2, 3 ).\n\nAlways confirm before finalizing.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        736,
        0
      ],
      "id": "c2a5c28c-4857-4cbd-8374-6c138eda0b75",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        224
      ],
      "id": "f9d356e1-955f-49ff-b5da-27c8fb513ba3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PLUQncqkccGOuff1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 6
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        224
      ],
      "id": "58ce1dd4-93a5-4b11-aee5-bfe9989bde1a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -64,
        0
      ],
      "id": "5f49f43d-9708-4165-a20a-74dd9681224f",
      "name": "Telegram Trigger",
      "webhookId": "fa56de42-3fad-4c87-a764-8ef32adcad09",
      "credentials": {
        "telegramApi": {
          "id": "CCSXwGRQAO2eZ04h",
          "name": "dc appointment"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        0
      ],
      "id": "9caab230-8586-44b4-a17b-79b65b6a696d",
      "name": "Send a text message",
      "webhookId": "b6a58fb7-c553-47f4-bdf9-4bfeb4cd800a",
      "credentials": {
        "telegramApi": {
          "id": "CCSXwGRQAO2eZ04h",
          "name": "dc appointment"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI",
          "mode": "list",
          "cachedResultName": "Copy of Doctor Appointment (n8n)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 420628766,
          "mode": "list",
          "cachedResultName": "Config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI/edit#gid=420628766"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        416,
        224
      ],
      "id": "0bd66d82-744c-4b5f-9e79-50849cdb5118",
      "name": "Doctor Config",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a1bABWjsFE9jkWpd",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI",
          "mode": "list",
          "cachedResultName": "Copy of Doctor Appointment (n8n)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1780683497,
          "mode": "list",
          "cachedResultName": "Patients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI/edit#gid=1780683497"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "phone_number",
              "lookupValue": "={{ $json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        544,
        224
      ],
      "id": "df667535-4d23-442f-8e7b-adfd3bfc7871",
      "name": "Get Patient List for User",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a1bABWjsFE9jkWpd",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI",
          "mode": "list",
          "cachedResultName": "Copy of Doctor Appointment (n8n)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1780683497,
          "mode": "list",
          "cachedResultName": "Patients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI/edit#gid=1780683497"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_id": "={{ $now.toMillis() }}",
            "phone_number": "={{ $json.message.chat.id }}",
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}",
            "age": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('age', ``, 'string') }}",
            "gender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('gender', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        672,
        224
      ],
      "id": "3ac7d837-26d5-40eb-8880-9dfa8d0ef1b0",
      "name": "Add Patient",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a1bABWjsFE9jkWpd",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI",
          "mode": "list",
          "cachedResultName": "Copy of Doctor Appointment (n8n)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1899638228,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI/edit#gid=1899638228"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "phone_number",
              "lookupValue": "={{ $json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        800,
        224
      ],
      "id": "c5ca908f-3e4b-4e96-83f9-b6a2f8b5001b",
      "name": "Get User Appointments",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a1bABWjsFE9jkWpd",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI",
          "mode": "list",
          "cachedResultName": "Copy of Doctor Appointment (n8n)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1899638228,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI/edit#gid=1899638228"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ $now.toMillis() }}",
            "patient_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('patient_id', ``, 'string') }}",
            "phone_number": "={{ $json.message.chat.id }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time', ``, 'string') }}",
            "payment_method": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('payment_method', ``, 'string') }}",
            "payment_status": "Pending",
            "status": "Confirmed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stripe_payment_intent",
              "displayName": "stripe_payment_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        928,
        224
      ],
      "id": "08f5e3b7-d13e-43ff-8757-3f0e353a4b62",
      "name": "Add appointment",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a1bABWjsFE9jkWpd",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI",
          "mode": "list",
          "cachedResultName": "Copy of Doctor Appointment (n8n)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1899638228,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI/edit#gid=1899638228"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1056,
        224
      ],
      "id": "b584332a-52fc-4cda-8859-a584ecad24f7",
      "name": "Get all appointments",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a1bABWjsFE9jkWpd",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI",
          "mode": "list",
          "cachedResultName": "Copy of Doctor Appointment (n8n)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1899638228,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI/edit#gid=1899638228"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_id__using_to_match_', ``, 'string') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time', ``, 'string') }}"
          },
          "matchingColumns": [
            "appointment_id"
          ],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stripe_payment_intent",
              "displayName": "stripe_payment_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1184,
        224
      ],
      "id": "9f1a21c7-90ae-4209-aa21-f1e104303594",
      "name": "Reschedule Appointment",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a1bABWjsFE9jkWpd",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI",
          "mode": "list",
          "cachedResultName": "Copy of Doctor Appointment (n8n)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1899638228,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jOAcw0MuAtG-s_ioSOay9jbFpNMhur3VaoDwL8sngZI/edit#gid=1899638228"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_id__using_to_match_', ``, 'string') }}",
            "status": "Cancelled"
          },
          "matchingColumns": [
            "appointment_id"
          ],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stripe_payment_intent",
              "displayName": "stripe_payment_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1312,
        224
      ],
      "id": "142ec67e-b600-4c6c-8af3-4e6c71d27a1e",
      "name": "Cancel Appoinment",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a1bABWjsFE9jkWpd",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "timezone": "Asia/Kolkata"
        }
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        1440,
        224
      ],
      "id": "45287611-ecb4-488d-b24d-5e8376884405",
      "name": "Date & Time"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Doctor Config": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Patient List for User": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Patient": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get User Appointments": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get all appointments": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reschedule Appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Appoinment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cac9ecf8-82c7-45c0-8677-37d042a4bb54",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2060aa2f8784b57d0991c14a019059b26e38c46c163358c53d9da02e83a8d322"
  },
  "id": "qGQ3T468lqto7o9W",
  "tags": []
}